PORT=3000
API_KEY=TU_API_KEY_AQUI
DB_NAME=nombre_de_tu_base_de_datos
STORAGE_ID=ID_DEL_PROYECTO_STORAGE
API_BASE=https://spiderwebargapi.com.ar/api/v1
JWT_SECRET=una-cadena-secreta-muy-larga-y-segura
GMAIL_USER=tu_email@gmail.com
GMAIL_APP_PASS=contraseña de aplicacion gmail
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=123